
<!doctype html>
<head>
<link href="../../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="social">

<h2>Select drinks to order below:</h2>
<form action='/drinks/order' method='POST'>
<%Drink.all.each do |drink|%>
<%=drink.name%> - $<%=drink[:price]%>  <input type="submit" value="Purchase" name="drinks[<%=drink.name%>]" id="<%=drink[:id]%>"></input></br>
<%end%> 

</form>

<p class="test">This is a table</p>
</body>
</html>