


<h2>Select drinks to order below:</h2>
<form action='/drinks/order' method='POST'>
<%Drink.all.each do |drink|%>
<%=drink.name%> - $<%=drink[:price]%>  <input type="number" name="drinks[<%=drink.id%>]" id="<%=drink[:id]%>" value="0"></input></br>
<%end%> 
<input type="submit" value="Submit Order">
</form>
