
<!doctype html>
<head>
    <style>
        .center {
           text-align: left; 
        }
        .right {
          
        }
    </style>
</head>
<body>
<div id="social">

<h2>Select a drink to order below:</h2>
<form action='/drinks/order' method='POST'>
<%Drink.all.each do |drink|%>
<li><p class="center"><%=drink.name%> - $<%=drink[:price]%>
<input type="submit" value="Purchase" name="drinks[<%=drink.name%>]" id="<%=drink[:id]%>"></input></p></li>
<%end%> 
</form>

</body>
</html>