.alignleft {
  float: left;
  width: 20%;
  background: yellow;
}

.alignright {
  float: right;
  width: 20%;
  background: red;
}

.aligncenter {
  float: left;
  text-align: center;
  background: orange;
  width: 60%;
}

h1 {
  color: black; font-size: 50px;
  text-align: center;
  background: grey;
}

.center {
  text-align: center;
}