.alignleft {
  position: absolute;
  width: 15%;
  left: 0;
  background: rgb(182, 182, 182);
  
}

.alignright {
  position: absolute;
  width: 15%;
  right: 0;
  background: rgb(182, 182, 182);
}

.aligncenter {
  position: absolute;
  left: 20%;
  text-align: center;
  width: 60%;
  border: 10px solid white;
}

h1 {
  color: black; font-size: 50px;
  text-align: center;
  background: grey;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  
}

