<!doctype html>

<html>

    <head>
    <meta charset="UTF-8">
    <style>
        h3 {

        }
    </style>
    </head>

<div>
<h3><u>Welcome!</u></h3>
</div>
        
<p>Below are people who are currently on the app, click on their name to checkout what they are drinking.</p>

<%Customer.all.each do |customer|%>

    <%if customer.drinks.any?%>
    <li class="alignleft">
    <a href="/profile/<%=customer.username%>"><%=customer.username%></a>
    </li><br>
    <%end%>

 <%end%>

</html>
