<div>
    <h3>
        <u>Welcome!</u>
    </h3>
</div>
        
<div>
    <p>
        Beer is one of the world's oldest prepared drinks. There is some evidence that beer was produced at Göbekli Tepe during the Pre-Pottery Neolithic (around 8500 BC to 5500 BC). The earliest clear chemical evidence of beer produced from barley dates to about 3500–3100 BC, from the site of Godin Tepe in the Zagros Mountains of western Iran. It is possible, but not proven, that it dates back even further — to about 10,000 BC, when cereal was first farmed. Beer is recorded in the written history of ancient Iraq and ancient Egypt, and archaeologists speculate that beer was instrumental in the formation of civilizations. Approximately 5000 years ago, workers in the city of Uruk (modern day Iraq) were paid by their employers in beer. During the building of the Great Pyramids in Giza, Egypt, each worker got a daily ration of four to five litres of beer, which served as both nutrition and refreshment that was crucial to the pyramids' construction.
    </p>
</div>

