<!doctype html>
<head>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<div id="social">

<%current_user.drinks.each do |drink|%>
   Order <%=drink.orders.ids.first%><br>
   <p><%=drink.name%> $<%=drink.price%><br></p>
<%end%>
</div>

<p>This is a table</p>