
<!doctype html>

<html>

    <head>
    
    <meta charset="UTF-8">

    <title>Mobile Order</title>
    
      <style>
      .alignleft {
        float: left;
        width: 20%;
        background: yellow;
      }
    
      .alignright {
        float: right;
        width: 20%;
        background: red;
      }
      
      .aligncenter {
        float: left;
        text-align: center;
        background: orange;
        width: 60%;
      }
      
      h1 {
        color: black; font-size: 50px;
        text-align: center;
        background: grey;
      }

      .center {
        text-align: center;
      }

    </style>

    </head>

    <h1>BarMania</h1>

  <body>
    <%if logged_in?%>
     <div>
    
      <div class="alignleft">
      <h2 class="center">
        Menu
      </h2>
      <p class="center">
        <a href="/drinks/list">Drink Menu</a>
      </p>
      </div>

      <div class="alignright">
        <p class="center">
        Hello, <%=current_user.username%></br>
        </br>
        <a href="/customers">Home</a></br>
        <a href="/account">Account</a></br>
        <a href="/logout">Logout</a>
        </p>
      </div>
      </div>
      
      <div class="aligncenter">
      <%=yield%>
      </div>
    <%else%>
      <div class="center">
      <%=yield%>
      </div>

    <%end%>
      

    </body>

</html>