
<!doctype html>

<html>

  <head>
  <meta charset="UTF-8">
  <link href="css/style.css" rel="stylesheet" type="text/css">

    <title>Mobile Order</title>
  </head>
  <body>
    <%if logged_in?%>

     <div>
     <section>
     <h1 class="aligncenter">BarMania</h1>
      <p class="alignright">
      <%=current_user.username%></br>
      </br>
      <a href="/customers">Home</a></br>
      <a href="/account">Account</a></br>
      <a href="/logout">Logout</a>
      </p>
     </section>
     </div>
      <%=yield%>
      
    <%else%>

    <%=yield%>
    <%end%>
      

    </body>

</html>