.alignleft {
    float: left;
  }

  .alignright {
    float: right;
  }
  
  .aligncenter {
    text-align: center;
  }
  
  .shadow {
    box-shadow: 0 3px 10px #333;
  }
  
  p {
    color: red;
  }
  
  h1 {
    color: blue; font-size: 50px;
  }